
<section ng-controller="Users"  ng-init="Init();" >
	<md-progress-linear ng-hide="isLoaded" md-mode="indeterminate"></md-progress-linear>

	<md-button ng-show="isLoaded" ng-click="Add_Edit(0)" class="md-fab md-primary bottom-right-fixed " >
		<md-icon class="material-icons">add</md-icon>
	</md-button>
	

	<div class="search-form">
		<div layout="row" layout-align="space-between center" class="container">
			<span flex="70" hide="" show-gt-sm=""></span>
			<div flex="auto" layout="row">
				<input flex="auto" ng-model="search.name" ng-disabled="search.isSubmit" type="text" placeholder="Search">
			</div>
		</div>
	</div>

	<div class="container pt-3" >

		<md-card class="mt-20">
			<div class="table-unresponsive hover">
				<table>
					<thead>
						<tr>
							<th>Clinic Name</th>
							<th>Name</th>
							<th>Job Title</th>
							<th>Position</th>
							<th>Username</th>
							<th>ACTIVE</th>			
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="A in Data() | filter: search.name | orderBy: ['NAME']">
							<td>
								<pre ng-bind="A.CLINICNAME"></pre>
							</td>
							<td ng-bind="A.NAME"></td>
							<td ng-bind="A.JOBTITLE"></td>
							<td ng-bind="A.POSITION"></td>
							<td ng-bind="A.USERNAME"></td>
							<td>
								<md-switch ng-model="A.ACTIVE" ng-change="User_Active(A);" aria-label="ACTIVE" class="my-0"></md-switch>
							</td>
							<td class="action">
								<md-menu ng-show="isLoaded" >
									<md-button class="md-primary md-mini" ng-click="$mdMenu.open($event)">
										<md-icon class="material-icons">more_vert</md-icon>
									</md-button>
									<md-menu-content>
										<md-menu-item>
											<md-button ng-click="Add_Edit(A.ID);" >
												<md-icon class="material-icons">edit</md-icon>
												Edit
											</md-button>
										</md-menu-item>
										<md-menu-item>
											<md-button ng-click="Reset_Password(A)">
												<md-icon class="material-icons">replay</md-icon>
												Reset Password
											</md-button>
										</md-menu-item>
									</md-menu-content>
								</md-menu>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</md-card>
	</div>
</section>

