<md-dialog aria-label="Users Form" ng-init="Init();">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="md-title">User Form</h2>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-padding scroll" >

		
		<div ng-hide="isLoaded" class="loading-form">
			<md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
		</div>

		<form  name="formParent" ng-submit="Submit_Form()" role="form" layout="column" >

			
			<md-input-container class="md-block">
				<label>Name</label>
				<input ng-model="FORM.NAME" name="NAME" type="text" required autofocus>
				<div ng-messages="formParent.NAME.$error" role="alert" md-auto-hide="false">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block">
				<label>Job Title</label>
				<input ng-model="FORM.JOBTITLE" >
			</md-input-container>


			<md-input-container class="md-block" > 
				<label>User level</label>
				<md-select ng-model="FORM.POSITION" name="POSITION" ng-change="Assistant_Opt();"  required>
					<md-option value="BRANCH ADMINISTRATOR">ADMINISTRATOR</md-option>
					<md-option value="BRANCH CONSULTANT" >CONSULTANT</md-option>
					<md-option value="BRANCH RESIDENT" >RESIDENT</md-option>
					<md-option value="BRANCH ASSISTANT">ASSISTANT</md-option>
				</md-select>
				<div ng-messages="formParent.POSITION.$error" role="alert" md-auto-hide="false">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>

			
			<div class="{{FORM.POSITION == 'BRANCH ASSISTANT' ? '' : 'text-muted'}} mb-3" >

				<h6 class="text-muted">Assistant Option</h6>

				<table class="ml-4">
					<tr>
						<td>
							<p>Authorize to create medical record for preparation.</p>
						</td>
						<td>
							<md-switch ng-model="FORM.AUTHORIZATION" ng-disabled="FORM.POSITION != 'BRANCH ASSISTANT'" aria-label="Create Medical Record" class="md-accent m-0"></md-switch>	
						</td>
					</tr>
					<tr>
						<td>
							<p>Allow edit medical record.</p>
						</td>
						<td>
							<md-switch ng-model="FORM.EDITMR" ng-disabled="FORM.POSITION != 'BRANCH ASSISTANT'" aria-label="Edit Medical Record" class="md-accent m-0"></md-switch>
						</td>
					</tr>
					<tr>
						<td>
							<p>Allow add services/discount.</p>
						</td>
						<td>
							<md-switch ng-model="FORM.ISADDSERVICES" ng-disabled="FORM.POSITION != 'BRANCH ASSISTANT'" aria-label="Allow Add Services" class="md-accent m-0"></md-switch>
						</td>
					</tr>
					<tr>
						<td>
							<p>Display sevices/discount amount.</p>
						</td>
						<td>
							<md-switch ng-model="FORM.ISDISPLAYSERVICESAMOUNT" ng-disabled="FORM.POSITION != 'BRANCH ASSISTANT'" aria-label="Allow See Fee Amount" class="md-accent m-0"></md-switch>
						</td>
					</tr>
				</table>
			</div>

			<div class="{{FORM.POSITION == 'BRANCH ADMINISTRATOR' ? '' : 'text-muted'}} mb-3" >
				<table class="ml-4">
				</table>
			</div>
				
				<div ng-show="FORM.POSITION == 'BRANCH ASSISTANT'" class="d-flex flex-column ml-4">
					<!-- <small class="text-muted">All report is disabled.</small> -->
					<!-- <small class="text-muted">Please resign in the user to effect this option.</small> -->
				</div>

			<md-input-container class="md-block">
				<label>Default Clinic</label>
				<md-select ng-model="FORM.SUBCLINICID"  name="SUBCLINICID"  >
					<md-option value="">N/A</md-option>
					<md-option ng-repeat="A in CLINICS" ng-value="A.ID" ng-bind="A.NAME"></md-option>
				</md-select>
				<div ng-messages="formParent.SUBCLINICID.$error" role="alert" md-auto-hide="false">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>


			<md-input-container class="md-block">
				<label>Username</label>
				<input ng-model="FORM.USERNAME" name="USERNAME" type="text" minlength="4" ng-disabled="FORM.ID > 0" required>
				<div ng-messages="formParent.USERNAME.$error" role="alert" md-auto-hide="false">
					<div ng-message="required">This is required.</div>
					<div ng-message="minlength">Minimum 4 characters.</div>
				</div>
			</md-input-container>


			<div layout="column" layout-gt-xs="row" layout-align="end" class="mt-3">
				<md-button ng-disabled="FORM.isSubmit || formParent.$invalid || !isLoaded"  type="submit" class="md-raised md-primary">
					<span ng-hide="FORM.isSubmit">Save</span>
					<md-progress-circular ng-show="FORM.isSubmit" md-mode="indeterminate" md-diameter="20" class="mx-auto"></md-progress-circular>
				</md-button>

				<md-button ng-click="close();"  class="" >Cancel</md-button>
			</div>

		</form>
	</md-dialog-content>
</md-dialog>