

<md-dialog aria-label="Laboratory">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="md-title">Lab Results</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="Close()">
				<md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div ng-hide="isLoaded" class="loading-form">
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
   </div>
   <md-dialog-content class="md-padding scroll">

		<div>
			<label >Patient Name</label>
			<p ng-bind="PATIENT.LASTNAME +', '+ PATIENT.FIRSTNAME+ ' '+ PATIENT.MIDDLENAME"></p>
		</div>

		<div>
			<label >Age</label>
			<p ng-bind="MR.AGE"></p>
		</div>
         
		<div ng-repeat="(key, A) in Laboratories" class="mb-3">
			<label ng-bind="A.NAME"></label>
			<md-button ng-if="A.FILENAME" ng-click="Lab_View(A);" class="md-primary mx-0">{{A.FILENAME}}</md-button>
			<pre ng-bind="A.TEMPLATERESULT" class="m-0"></pre>
		</div>

		<md-tabs ng-if="GROUP_LAB_MONITORING.length > 0" md-dynamic-height md-border-bottom md-center-tabsx>
			<md-tab label="{{A.GROUPNAME}}" ng-repeat="(key, A) in GROUP_LAB_MONITORING">
				<md-card-content class="p-3">
					<div class="table-detail scroll sub-scroll" style="max-height: 300px;">
						<table class="auto-width">
							<thead>
								<tr>
									<th>Test</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key1, B) in A.DATA">
									<td class="pt-3 pl-3">
										<span ng-style="{'padding-left': (B.INDENT * 1.5) +'rem'}" >{{B.NAME}}</span>
									</td>   
									<td>
										<div class="pt-3">{{B.LABVALUE}}</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</md-card-content>
			</md-tab>
		</md-tabs>

   </md-dialog-content>
</md-dialog>

 