<section ng-controller="ClinicForm" ng-init="Init();">
	<md-progress-linear ng-hide="isLoaded" md-mode="indeterminate"></md-progress-linear>
	<div class="container-md">

      <form name="formParent" ng-submit="Submit_Form()" role="form">

         <md-card class="mt-5">
               <md-tabs md-dynamic-height md-border-bottom md-center-tabsx>
                  <md-tab label="Clinic"> 
                     <md-card-content>

                        <md-input-container class="md-block">
                           <label>Clinic Name</label>
                           <input ng-model="FORM.CLINICNAME" autofocus required>
                        </md-input-container>

                        <md-input-container class="md-block">
                           <label>Clinic Name 1</label>
                           <input ng-model="FORM.CLINICNAME1" autofocus required>
                        </md-input-container>

                        <md-input-container ng-if="!opt.ACCOUNTBASE" class="md-block">
                           <label>Specialist 1</label>
                           <input ng-model="FORM.CLINICSUBNAME">
                        </md-input-container>

                        <md-input-container ng-if="!opt.ACCOUNTBASE" class="md-block">
                           <label>Specialist 2</label>
                           <input ng-model="FORM.CLINICSUBNAME1">
                        </md-input-container>

                        <md-input-container ng-if="!opt.ACCOUNTBASE" class="md-block">
                           <label>Specialist 3</label>
                           <input ng-model="FORM.CLINICSUBNAME2">
                        </md-input-container>


                        <div layout="column" layout-gt-xs="row">
                           <md-input-container flex-gt-xs="30" class="md-block">
                              <label>TIN</label>
                              <input ng-model="FORM.TIN">
                           </md-input-container>
                           <md-input-container flex-gt-xs="40" class="md-block">
                              <label>Tel No.</label>
                              <input ng-model="FORM.CONTACTNO">
                           </md-input-container>
                           <md-input-container flex-gt-xs="40" class="md-block">
                              <label>Mobile No.</label>
                              <input ng-model="FORM.MOBILENO">
                           </md-input-container>
                        </div>

                        <md-input-container class="md-block">
                           <label>Email</label>
                           <input ng-model="FORM.EMAIL">
                        </md-input-container>

                        <md-input-container class="md-block">
                           <label>Address</label>
                           <input ng-model="FORM.ADDRESS">
                        </md-input-container>                       

                  </md-card-content>
               </md-tab>

               <md-tab label="Referral"> 
                  <md-card-content>

                     <md-input-container class="md-block">
                        <label>Default Referral message</label>
                        <textarea ng-model="FORM.REFERRALDEFAULTTEXT" name="REFERRALDEFAULTTEXT" ng-trim="false" md-maxlength="1000"></textarea>
                     </md-input-container>

                     <div class="text-right">
                        <md-button ng-click="Preview_Report('REFERRAL')" class="md-primary md-mini">
                           <md-tooltip md-direction="top">Preview Referral letter</md-tooltip>
                           <md-icon class="material-icons">find_in_page</md-icon>
                        </md-button>
                     </div>

                  </md-card-content>
               </md-tab>

               <md-tab label="Clearance"> 
                  <md-card-content>

                     <md-input-container class="md-block">
                        <label>Default Clearance message</label>
                        <textarea ng-model="FORM.CLEARANCEDEFAULTTEXT" name="CLEARANCEDEFAULTTEXT" ng-trim="false" md-maxlength="1000"></textarea>
                     </md-input-container>

                     <div class="text-right">
                        <md-button ng-click="Preview_Report('CLEARANCE')" class="md-primary md-mini">
                           <md-tooltip md-direction="top">Preview Clearance letter</md-tooltip>
                           <md-icon class="material-icons">find_in_page</md-icon>
                        </md-button>
                     </div>

                  </md-card-content>
               </md-tab>

               <md-tab label="Others"> 
                  <md-card-content>

                     <md-input-container class="md-block mb-0" >
                        <label>SMS Numbers</label>
                        <input ng-model="FORM.SMSNOS">
                     </md-input-container>
                     <small class="text-muted">Separate with comma</small>

                  </md-card-content>
               </md-tab>
            </md-tabs>



                <md-card-content>
                  <div layout="column" layout-gt-xs="row" layout-align="end">
                     <md-button ng-disabled="FORM.isSubmit || formParent.$invalid"  type="submit" class="md-raised md-primary">
                        <span ng-hide="FORM.isSubmit">Save</span>
                        <div ng-show="FORM.isSubmit" layout="row" layout-align="center">
                           <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
                        </div>
                     </md-button>
                     <md-button ng-href="{{cancel}}">Cancel</md-button>
                  </div>
                </md-card-content>
            </md-card>


        </form>
    </div>
</section>
