<md-dialog aria-label="Resend Code" ng-init="Init();">
	<md-toolbar>
		<div class="md-toolbar-tools" md-colors="{background:'grey-100'}"> 
			<h2 class="md-title">Resend Code</h2>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-padding" >

		<div ng-hide="isLoaded" class="loading-form">
			<md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
		</div>

		<form  name="formParent" ng-submit="Submit_Form()" role="form" >
         
         <md-input-container class="md-block">
            <input ng-model="FORM.MOBILENO" name="MOBILENO" type="text" placeholder="Mobile No" ng-pattern="/^09[0-9]{9}$/" required>
            <div ng-messages="formParent.MOBILENO.$error" role="alert" md-auto-hide="false">
               <div ng-message="required">Required</div>
               <div ng-message="pattern">09#########. Please enter valid Mobile No.</div>
            </div>
         </md-input-container>
			
			<div layout="column" layout-gt-xs="row" layout-align="end" class="mt-3">
				<md-button ng-disabled="FORM.isSubmit || formParent.$invalid || !isLoaded"  type="submit" class="md-raised md-primary">
					<span ng-hide="FORM.isSubmit">Resend</span>
					<md-progress-circular ng-show="FORM.isSubmit" md-mode="indeterminate" md-diameter="20" class="mx-auto"></md-progress-circular>
				</md-button>

				<md-button ng-click="Close();"  class="" >Cancel</md-button>
			</div>

		</form>
	</md-dialog-content>
</md-dialog>