<div layout="column" layout-gt-xs="row">
    <md-input-container flex>
        <label>OD</label>
        <input ng-model = "FORM.REFOD"  ng-disabled="FORM.READONLY" >
    </md-input-container>

    <md-input-container flex>
        <label>OS</label>
        <input ng-model = "FORM.REFOS"  ng-disabled="FORM.READONLY"  >
    </md-input-container>
</div>

<div layout="column" layout-gt-xs="row">
    <md-input-container flex>
        <label>ADD</label>
        <input ng-model = "FORM.REFADD"  ng-disabled="FORM.READONLY"  >
    </md-input-container>
    
    <md-input-container flex>
        <label>PD</label>
        <input ng-model = "FORM.REFPD"  ng-disabled="FORM.READONLY"  >
    </md-input-container>
</div>

<div layout="column" layout-gt-xs="row">
    <md-input-container flex>
        <label>Frame</label>
        <input ng-model = "FORM.FRAME"  ng-disabled="FORM.READONLY" >
    </md-input-container>
    <md-input-container flex>
        <label>Lens</label>
        <input ng-model = "FORM.LENS"  ng-disabled="FORM.READONLY" >
    </md-input-container>
</div>


