<div layout="row" layout-wrap="">
    <md-input-container flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.ANNUAL" ng-disabled="FORM.READONLY" class="md-primary mb-0">Annual</md-checkbox>
      </md-input-container>

      <md-input-container flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.EXTERNAL_EYE" class="md-primary mb-0">External Eye</md-checkbox>
      </md-input-container>

      <md-input-container flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.GLAUCOMA" class="md-primary mb-0">Glaucoma</md-checkbox>
      </md-input-container>

      <md-input-container flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.HEADACHE" class="md-primary mb-0">Headache / dizziness</md-checkbox>
      </md-input-container>

      <md-input-container flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.PITY" class="md-primary mb-0">Pity</md-checkbox>
      </md-input-container>

      <md-input-container flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.RETINA" class="md-primary mb-0">Retina</md-checkbox>
      </md-input-container>

      <md-input-container  flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.CATARACT" class="md-primary mb-0">Cataract</md-checkbox>
      </md-input-container>

      <md-input-container  flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.FB" class="md-primary mb-0">FB</md-checkbox>
      </md-input-container>

      <md-input-container  flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.LASER" class="md-primary mb-0">Laser</md-checkbox>
      </md-input-container>

      <md-input-container  flex="50" flex-gt-xs="25">
        <md-checkbox ng-model="FORM.REFRACTION" class="md-primary mb-0">Refraction</md-checkbox>
      </md-input-container>

      <md-input-container  flex="50" flex-gt-xs="25">
        <label>OTHERS</label>
        <input ng-model = "FORM.OTHERS"  ng-disabled="FORM.READONLY"  >
    </md-input-container>
</div>